/* .flex {display: flex;} */
li:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
.icon {
  margin-left: 2.5rem;
  font-size: 20px;
}

.active .icon {
  color: #da680b;
  /* fill: #da680b;
  font-weight: bolder; */
}
.active {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  background: rgb(218, 104, 11);
  background: linear-gradient(
    90deg,
    rgba(218, 104, 11, 0.9077720987832798) 1%,
    rgba(2, 0, 36, 0) 8%
  );
}
.icon {
  margin-top: 2px;
}

.box-shadow {
  -webkit-box-shadow: 20px 0px 29px -28px rgba(235, 121, 33, 0.28);
  -moz-box-shadow: 20px 0px 29px -28px rgba(235, 121, 33, 0.28);
  box-shadow: 20px 0px 29px -28px rgba(235, 121, 33, 0.28);
}
